<label for="questionImg">
    📷
    <input type="file" (change)="setImage(currentQuestion, $event,'questionImg')" id="questionImg" hidden="true" />
</label>
<mat-form-field appearance="outline">
    <textarea matInput placeholder="Question Text" cdkTextareaAutosize [(ngModel)]="currentQuestion.questionText"></textarea>
    <mat-hint>{{currentQuestion.questionText ? "Question Text" : ""}}</mat-hint>
</mat-form-field>
<img *ngIf="currentQuestion['questionImg']" [src]="currentQuestion['questionImg']" />
<app-text-mceditor *ngIf="currentQuestion.isMC" [question]="currentQuestion"></app-text-mceditor>
<app-text-saeditor *ngIf="!currentQuestion.isMC" [question]="currentQuestion"></app-text-saeditor>