/* :host{
    display: grid;
    grid-template-areas:
    ' header header header    '
    ' q1     q2     pass      '
    ' q1     q2     correct   '
    ' q1     q2     range     '
    ' q1     q2     proj      '
    ' q3     q4     standards '
    ' q3     q4     standards '
    ' q3     q4     standards '
    ' q3     q4     standards ';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24pt repeat(8, 1fr);
    height: 100%;
    padding: 5px;
}

h2, app-exam-selector{
    grid-area: header;
}

h2{
    text-align: center;
}

.q_1{
    grid-area: q1;
    background-color: var(--blue-yonder);
}
.q_2{
    grid-area: q2;
    background-color: goldenrod;
}
.q_3{
    grid-area: q3;
    background-color: goldenrod;
}
.q_4{
    grid-area: q4;
    background-color: var(--blue-yonder);
}

.pass_rate{
    grid-area: pass;
    background-color: olive;
}

.correct{
    grid-area: correct;
    background-color: rgb(68, 33, 68);
}

.range{
    grid-area: range;
    background-color: grey;
}

.projected{
    grid-area: proj;
    background-color: rgb(173, 65, 25);
}

.standards{
    grid-area: standards;
    background-color: rgb(136, 22, 22);
}

:host > div{
    border: 2px solid black;
    box-shadow: 4px 4px 8px  rgba(0,0,0,0.75);
    overflow-y: scroll;
    margin: 5px;
}

li > div{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
} */