<h2>Analysis</h2>
<app-exam-selector (examPath)="loadStats($event)"></app-exam-selector>
<div *ngFor="let quartile of quartiles; let i = index" [ngClass]="'q_'+(1+i)">
  <h2>Quartile {{1+i}}</h2>
  <ol>
    <li *ngFor="let student of quartile">
      {{student.name}} | {{student.numberCorrect}} / {{ student.percentageCorrect }}% 
    </li>
  </ol>
</div>

<div class="pass_rate">PASS RATE: {{passRate}}%</div>
<div class="correct">AVERAGE # CORRECT: {{averageCorrect}}</div>
<div class="range">SCORE RANGE: {{range[0]}} - {{range[1]}}</div>
<div class="projected">PROJECTED PASS RATE: 70%</div>
<div class="standards"></div>