/* div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

:host button{
    width: 50%;
}

button.selected{
    background-color: goldenrod;
    font-weight: bold;
} */

mat-form-field{
    width: 100%;
}

mat-button-toggle{
    width: 50%;
}

mat-button-toggle-group{
    width: 100%;
}