<h2>Question Options</h2>

<mat-button-toggle-group [(ngModel)]="currentQuestion.isMC">
  <mat-button-toggle [value]="true">Multiple Choice</mat-button-toggle>
  <mat-button-toggle [value]="false">Short Answer</mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group [(ngModel)]="currentQuestion.isIMG">
  <mat-button-toggle [value]="false">Text-Based</mat-button-toggle>
  <mat-button-toggle [value]="true">Image-Based</mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field>
  <input matInput [(ngModel)]="currentQuestion.unit" />
  <mat-hint>Unit</mat-hint>
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="currentQuestion.difficulty" />
  <mat-hint>Difficulty</mat-hint>
</mat-form-field>


<mat-form-field>
  <mat-select [(ngModel)]="currentQuestion.bloom">
    <mat-option *ngFor="let option of bloomOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-select>
  <mat-hint>Blom's Taxonomy</mat-hint>
</mat-form-field>


<mat-form-field style="width:47%">
  <mat-select [(ngModel)]="regentsMonth">
    <mat-option *ngFor="let month of regentsMonths" [value]="month" (change)="currentQuestion.regents = regentsYear + '-' + regentsMonth">
      {{month}}
    </mat-option>
  </mat-select>
  <mat-hint>Regents Month</mat-hint>
</mat-form-field>
<mat-form-field style="width:47%; margin-left:6%">
  <mat-select [(ngModel)]="regentsYear">
    <mat-option *ngFor="let year of regentsYears" [value]="year" (change)="currentQuestion.regents = regentsYear + '-' + regentsMonth">
      {{year}}
    </mat-option>
  </mat-select>
  <mat-hint>Regents Year</mat-hint>
</mat-form-field>