<mat-toolbar color="primary" class="mat-elevation-z6">
  <img matTooltip="I changed the colors of this logo by hand - is there a hi-res version I could use?" src="assets/img/eagle-academy-logo-v2.png" />
  <h1 class="mat-headline">Eagle Interims</h1>
  <span class="fill-space"></span>
  <a *ngIf="loggedIn" mat-button routerLink="/exams">Exams</a>
  <a *ngIf="loggedIn" mat-button routerLink="/analysis">Analysis</a>
  <a mat-button routerLink = "/login" (click)="loggedIn=!loggedIn">{{loggedIn ? 'Logout' : 'Login'}}</a>
</mat-toolbar>