<button (click)="L()">Log</button>
<div *ngIf="question">
  <h1>{{question.directions}}</h1>
  <div class="Question">
    <img *ngIf="question.isIMG" [src]="question.image" />
    <h2 *ngIf="!question.isIMG">
      {{question.questionText}}
      <img *ngIf="question['questionImg']" [src]="question['questionImg']" />
    </h2>
  </div>
  <div class="Responses">
    <div *ngIf="!question.isMC">
      <textarea [(ngModel)]="SAResponse"></textarea>
      <button (click)="setResponse(SAResponse)">Submit</button>
    </div>
    <div *ngIf="question.isMC">
      <ol *ngIf="!question.isIMG" type="A">
        <li *ngFor="let resp of ['A','B','C','D']" (click)="setResponse(resp)">
          {{question['answer'+resp]}}
          <img *ngIf="question['answer'+resp+'img']" [src]="question['answer'+resp+'img']" />
        </li>
      </ol>
      <ol *ngIf="question.isIMG" type="A">
        <li *ngFor="let resp of ['A','B','C','D']" (click)="setResponse(resp)">
          {{resp}}
        </li>
      </ol>
    </div>
  </div>
</div>