/* select{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    text-align-last: center;
}

select:first-of-type, select:last-of-type{
    width: 75px;
}

select:nth-of-type(2){
    width:250px;
} */
