Select Exam:
<select [(ngModel)]="selectedYear" (ngModelChange)="getExamSubjects()">
    <option *ngFor="let year of yearsList" [value]="year">
        {{year}}
    </option>
</select> ›
<select [(ngModel)]="selectedSubject" (ngModelChange) = "getExamNumbers()">
    <option *ngFor="let subject of subjectsList" [value]="subject">
        {{subject}}
    </option>
</select> ›
<select [(ngModel)]="selectedNumber" (ngModelChange) = "setKey()">
    <option *ngFor="let number of numbersList" [value]="number">
        {{number}}
    </option>
</select>

<button (click)="getExamYears()">Years</button>
<button (click)="getExamSubjects()">Subjects</button>
<button (click)="getExamNumbers()">Numbers</button>