/* @import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --blue-yonder: #6376a8;
    --platinum: #e5e8e8;
    --bleu-de-france: #3993dd;
    --black: #040303;
    --gunmetal: #1e152a;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}

*{
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 14pt;
}

input, option, textarea, select{
    color: var(--black);
    background-color: var(--platinum);
}

textarea{
    resize: vertical;
}

html, body{
    background-color: var(--gunmetal);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

app-root{
    background-color: var(--bleu-de-france);
}

router-outlet{
    height: 0px;
    margin: 0px;
    padding: 0px;
}

button{
    background-color: var(--blue-yonder);
    color: var(--gunmetal);
    font-family: arial, sans-serif;
    font-weight: bold;
} */

router-outlet{
    max-width: 960px;
    margin: auto;
}