/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-row:nth-child(even){
    background-color: #f4f4f4;
}

html{
    margin: 0px;
}

body{
    margin: 8px;
    margin-top: 72px;
}

@media(max-width:599px) {
    body{
        margin-top: 66px;
    }
}