<mat-radio-group [(ngModel)]="currentQuestion.correctAnswer">
  <mat-form-field appearance="outline" *ngFor=" let option of ['A','B','C','D'] ">

    <textarea matInput cdkTextareaAutosize placeholder="Answer choice {{option}}" [(ngModel)]="currentQuestion['answer'+option]"></textarea>
    <mat-hint>{{"currentQuestion['answer'+option]" ? "Answer choice " + option : ""}} </mat-hint>
    <img *ngIf="currentQuestion['answer' + option + 'img']" [src]="currentQuestion['answer' + option + 'img']" />
    <br>

    <div>
      <label [for]="'answer' + option + 'img'" matTooltip="Upload image">
        📷
        <input type="file" (change)="setImage(currentQuestion,$event,'answer' + option + 'img')" [id]="'answer' + option + 'img'"
          [hidden]="true" />
      </label>
      <mat-radio-button [value]="option" [matTooltip]="currentQuestion.correctAnswer === option ? 'Correct Answer' : 'Mark as Correct'"></mat-radio-button>
    </div>
  </mat-form-field>

</mat-radio-group>