/* :host{
    text-align: center;
}

div{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

img{
    grid-column: 1 / 4;
    max-width: 100%;
    margin: auto;
}

input{
    margin: auto;
} */

img{
    max-width: 100%;
}

mat-form-field{
    width: 50%;
}

mat-form-field textarea{
    width: 90%;
}

.correct{
    background-color: goldenrod;
}